<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


	<!-- Database Configuration -->
	<import resource="../database/DataSource.xml" />
	<import resource="../database/Hibernate.xml" />
	
	<context:component-scan base-package="com.wls.deployable.cxf" />

	


	<bean id="stock"
		class="com.wls.deployable.cxf.stockquote.StockQuotePortTypeImpl" />

	<jaxws:endpoint id="stockService" implementor="#stock"
		address="/StockService" />

	<bean id="jndiTemplate" class="org.springframework.jndi.JndiTemplate">
		<property name="environment">
			<props>
				<prop key="java.naming.factory.initial">
					weblogic.jndi.WLInitialContextFactory
				</prop>
				<prop key="java.naming.provider.url">t3://localhost:7001</prop>
			</props>
		</property>
	</bean>

	<bean id="queueConnectionFactory" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiTemplate">
			<ref bean="jndiTemplate" />
		</property>
		<property name="jndiName">
			<value>/com/jms/dev/cf</value>
		</property>
	</bean>

	<bean id="jmsDestinationResolver"
		class="org.springframework.jms.support.destination.JndiDestinationResolver">
		<property name="jndiTemplate">
			<ref bean="jndiTemplate" />
		</property>
		<property name="cache">
			<value>true</value>
		</property>
	</bean>

	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory">
			<ref bean="queueConnectionFactory" />
		</property>
		<property name="destinationResolver">
			<ref bean="jmsDestinationResolver" />
		</property>
	</bean>


	<!-- Auto scan the components -->
	<context:component-scan base-package="com.distributed.tx.demo" />

	<bean id="abstractGenericDao"
		class="com.wls.deployable.cxf.jms.dao.impl.AbstractGenericDAOImpl"
		abstract="true" />

	<bean id="featureDAO" class="com.wls.deployable.cxf.jms.dao.impl.FeatureDAOImpl"
		parent="abstractGenericDao" />

	<bean id="mobileDAO" class="com.wls.deployable.cxf.jms.dao.impl.MobileDAOImpl"
		parent="abstractGenericDao" />

	<bean id="featureBO" class="com.wls.deployable.cxf.jms.bo.impl.FeatureBOImpl" />

	<bean id="mobileBO" class="com.wls.deployable.cxf.jms.bo.impl.MobileBOImpl">
		<property name="mobileDAO" ref="mobileDAO"></property>
	</bean>
</beans>
